@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");
:root {
  --header-height: 80px;
  --hue: 10;
  --brand-color: hsl(var(--hue) 90% 50%);
  --brand-color-alt: hsl(var(--hue) 90% 45%);
  --primary-color: hsl(var(--hue) 3% 100%);
  --text-color: hsl(var(--hue) 3% 85%);
  --text-color-light: hsl(var(--hue) 3% 60%);
  --hover-link-color: var(--hover-link-color);
  --positive-background-color: rgba(35, 120, 40, 0.5);
  --positive-text-color: #25d432;
  --background-dark: rgba(0, 0, 0, 0.3);
  --body-gradient: linear-gradient(105deg, hsl(275deg 50% 35%) 0%, hsl(212deg 50% 50%) 100%);
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 5.6rem;
  --h1-font-size: 3.6rem;
  --h2-font-size: 2.4rem;
  --h3-font-size: 1.8rem;
  --normal-font-size: 1.6rem;
  --small-font-size: 1.4rem;
  --smaller-font-size: 1.2rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-black: 900;
  --line-base: 1;
  --line-normal: 1.2;
  --line-big: 1.35;
  --line-large: 1.45;
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  --space-9: 36px;
  --space-10: 40px;
  --space-11: 44px;
  --space-12: 48px;
  --space-13: 52px;
  --space-14: 56px;
  --space-15: 60px;
  --space-16: 64px;
  --space-17: 68px;
  --space-18: 72px;
  --space-19: 76px;
  --space-20: 80px;
  --space-21: 84px;
  --space-22: 88px;
  --space-23: 92px;
  --space-24: 96px;
  --space-25: 100px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  margin: 0;
  min-height: 100vh;
  height: 100%;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: var(--body-gradient);
  -webkit-animation: 20s infinite bganimation;
          animation: 20s infinite bganimation;
  -webkit-background-size: 210% 120%;
          background-size: 210% 120%;
  height: 100%;
  width: 100%;
  display: block;
  z-index: -1;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  color: var(--primary-color);
  font-weight: var(--font-semi-bold);
  line-height: var(--line-big);
}

h3 {
  font-size: var(--h3-font-size);
}

button, input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: var(--line-base);
}

@-webkit-keyframes bganimation {
  0% {
  }
  100% {
    background-position: 0 25%;
  }
  25%,
  75% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
}

@keyframes bganimation {
  0% {
    background-position: 0 25%;
  }
  100% {
    background-position: 0 25%;
  }
  25% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
}

.section {
  padding: var(--space-24) 0 var(--space-8);
}

.section__title {
  padding-bottom: var(--space-12);
  font-size: var(--h1-font-size);
  text-align: left;
}

.container {
  margin: 0 auto;
  width: 968px;
}

.grid-items-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: var(--space-4);
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  padding: var(--space-3) var(--space-6);
  display: inline-block;
  background-color: var(--brand-color);
  color: var(--primary-color);
  border-radius: var(--border-radius-small);
  font-weight: var(--font-medium);
  line-height: var(--line-normal);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  font-size: var(--small-font-size);
}

.button:hover {
  background-color: var(--brand-color-alt);
}

.button_link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: var(--space-2);
          column-gap: var(--space-2);
  color: var(--primary-color);
  font-size: var(--small-font-size);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.button_link:hover {
  color: var(--hover-link-color);
}

.price {
  color: var(--primary-color);
  line-height: var(--line-base);
  font-weight: var(--font-medium);
}

.price_old {
  text-decoration: line-through;
  color: var(--brand-color);
  line-height: var(--line-base);
  font-weight: var(--font-normal);
}

.bg_black {
  background-color: var(--background-dark);
}

.product__item {
  padding: var(--space-7);
  border-radius: var(--border-radius-large);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product__item-img {
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.product__item-img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.product__stock {
  padding: var(--space-1) var(--space-2);
  font-size: var(--smaller-font-size);
  background-color: var(--positive-background-color);
  color: var(--positive-text-color);
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: var(--border-radius-small);
}

.product__title {
  font-size: var(--h3-font-size);
  color: var(--primary-color);
  text-align: left;
}

.product__description {
  font-size: var(--small-font-size);
}

.product__prices {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: var(--line-base);
}

.product__price {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--primary-color);
}

.product__price_old {
  margin-left: var(--space-2);
  color: var(--brand-color);
  font-size: var(--smaller-font-size);
  text-decoration: line-through;
}

.product__option {
  text-align: left;
}

.product__option-title {
  font-size: var(--small-font-size);
}

.product__option-sizes {
  margin-top: var(--space-1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: var(--space-2);
}

.product__option-size {
  padding: var(--space-1) var(--space-2);
  background-color: var(--background-dark);
  border-radius: var(--border-radius-small);
  font-size: var(--small-font-size);
  min-width: 34px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.product__option_selected {
  background-color: white;
  color: #333;
  position: relative;
  font-weight: var(--font-medium);
  cursor: default;
}

.product__option_unavailable {
  opacity: 0.4;
  text-decoration: line-through;
  cursor: default;
}

.product__buttons {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: var(--line-base);
}

.pagination {
  margin-top: var(--space-7);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--space-2);
}

.pagination__arrow {
  margin: 0 var(--space-2);
}

.pagination__button {
  padding: var(--space-1) var(--space-2);
  min-width: 34px;
  min-height: 34px;
  border-radius: var(--border-radius-small);
  background-color: var(--background-dark);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: var(--normal-font-size);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.pagination__button:hover {
  color: var(--hover-link-color);
}

.pagination__button_selected {
  background-color: #fff;
  color: #333;
  font-weight: var(--font-medium);
  cursor: default;
}

.pagination__button_selected:hover {
  color: initial;
}

.pagination__button_plug {
  cursor: default;
}

.pagination__button_plug:hover {
  color: inherit;
}

.socials {
  background-color: var(--background-dark);
  border-radius: var(--border-radius-large);
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.socials__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: var(--space-2);
}

.socials__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.socials__link {
  padding: var(--space-2) var(--space-2);
  background-color: var(--background-dark);
  border-radius: var(--border-radius-small);
  color: var(--primary-color);
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--text-color);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.socials__link:hover {
  color: var(--primary-color);
}

.swiper-pagination {
  position: initial;
}

.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: var(--primary-color);
  opacity: 0.25;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-icon {
  font-size: 3rem;
}

.swiper-button-prev {
  left: -80px;
}

.swiper-button-next {
  right: -80px;
}

.swiper-button-next, .swiper-button-prev {
  padding: var(--space-1);
  background-color: var(--background-dark);
  border-radius: var(--border-radius-small);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: auto;
  color: var(--primary-color);
  opacity: 0.9;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  opacity: 1;
}

.swiper-button-next:after, .swiper-button-prev:after {
  content: '';
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background-color: transparent;
}

.header_scroll {
  background-color: #29264e;
}

.header_hide {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.nav {
  height: var(--header-height);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: var(--space-12);
          column-gap: var(--space-12);
  font-size: var(--normal-font-size);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  color: var(--primary-color);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: relative;
}

.nav__link:hover {
  color: var(--hover-link-color);
}

.nav__link_active::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--brand-color-alt);
  position: absolute;
  bottom: -8px;
  left: 0;
}

.nav__link_active:hover {
  color: var(--primary-color);
}

.nav__button {
  padding: var(--space-3) var(--space-6);
  color: var(--primary-color);
  background-color: transparent;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.nav__button:hover {
  color: var(--hover-link-color);
  border-color: var(--hover-link-color);
  background-color: transparent;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: var(--space-2);
          column-gap: var(--space-2);
  font-weight: var(--font-semi-bold);
  color: var(--primary-color);
  font-size: var(--h3-font-size);
}

.logo__img {
  margin-right: var(--space-1);
  width: 24px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  padding-top: var(--header-height);
}

.home {
  padding: var(--space-12) 0;
  position: relative;
}

.home__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: var(--space-10);
          column-gap: var(--space-10);
}

.home__image {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
      -ms-flex: 1 0;
          flex: 1 0;
}

.home__img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
}

.home__info {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
      -ms-flex: 1 0;
          flex: 1 0;
}

.home__subtitle {
  margin-bottom: var(--space-3);
  font-size: var(--h3-font-size);
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-black);
  line-height: var(--line-normal);
}

.home__stock {
  margin-top: var(--space-2);
  margin-bottom: 0;
  font-size: var(--small-font-size);
}

.home__p {
  margin-top: var(--space-4);
  font-weight: var(--font-medium);
}

.home__prices {
  margin-top: var(--space-7);
}

.home__price {
  font-size: var(--h3-font-size);
}

.home__price_old {
  margin-left: var(--space-2);
  font-size: var(--small-font-size);
}

.home__buttons {
  margin-top: var(--space-8);
}

.home__icon {
  font-size: 2rem;
}

.trending__list {
  position: relative;
}

.trending__item-img {
  margin-bottom: var(--space-4);
}

.trending__item-title {
  margin-bottom: var(--space-3);
}

.trending__options {
  margin-top: var(--space-4);
}

.trending__prices {
  margin-top: var(--space-6);
}

.trending__buttons {
  margin-top: var(--space-6);
}

.shipping__container {
  padding: var(--space-7);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: var(--border-radius-large);
}

.shipping__title {
  padding-bottom: var(--space-1);
  font-size: var(--h2-font-size);
  text-align: left;
}

.shipping__group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shipping__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.shipping__image {
  margin-right: var(--space-3);
  width: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.shipping__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.shipping__button {
  justify-self: flex-end;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

.shop__list {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop__item-title {
  margin-bottom: var(--space-3);
}

.shop__item-img {
  margin-bottom: var(--space-4);
}

.shop__img {
  margin-bottom: var(--space-2);
  -o-object-fit: cover;
     object-fit: cover;
}

.shop__options {
  margin-top: var(--space-4);
}

.shop__prices {
  margin-top: var(--space-6);
}

.shop__price {
  margin-top: var(--space-4);
  color: var(--primary-color);
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
}

.shop__buttons {
  margin-top: var(--space-7);
}

.info__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: var(--space-7);
}

.info__wrap {
  padding: var(--space-7);
  background-color: var(--background-dark);
  border-radius: var(--border-radius-large);
}

.info__title {
  font-size: var(--h2-font-size);
  line-height: var(--line-base);
}

.info__p {
  margin-top: var(--space-2);
}

.info__button {
  margin-top: var(--space-8);
}

.info__image {
  margin-bottom: var(--space-4);
  width: 120px;
  height: 120px;
}

.info__img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.contacts__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
  -webkit-align-items: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contacts__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: var(--space-8);
}

.contacts__socials {
  padding: var(--space-7);
}

.contacts__list {
  margin-top: var(--space-3);
}

.contacts__subtitle {
  margin-bottom: var(--space-3);
  text-align: left;
}

.contacts__form {
  padding: var(--space-7);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: var(--border-radius-large);
  background-color: var(--background-dark);
}

.contacts__input {
  margin-bottom: var(--space-4);
  padding: var(--space-4) var(--space-5);
  width: 100%;
  border-radius: var(--border-radius-small);
}

.contacts__input:last-child {
  margin-bottom: 0;
}

.contacts__button {
  margin-top: var(--space-2);
  width: 100%;
}

.footer {
  margin-top: auto;
  padding: var(--space-24) 0 var(--space-5);
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  justify-items: center;
}

.footer__title {
  margin-bottom: var(--space-4);
  color: var(--primary-color);
  font-size: var(--h3-font-size);
}

.footer__description {
  margin-top: var(--space-4);
}

.footer__socials {
  margin-top: var(--space-11);
}

.footer__item {
  margin-bottom: var(--space-1);
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__link {
  font-size: var(--small-font-size);
  color: var(--text-color);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__link:hover {
  color: var(--primary-color);
}

.footer__copyright {
  margin-top: var(--space-15);
  text-align: center;
  font-size: var(--small-font-size);
}

.scrollup {
  padding: var(--space-1);
  position: fixed;
  bottom: 40px;
  right: 32px;
  background-color: var(--background-dark);
  border-radius: var(--border-radius-small);
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--text-color);
  line-height: var(--line-base);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.scrollup:hover {
  color: var(--primary-color);
}

.scrollup__icon {
  font-size: 2.4rem;
  font-weight: var(--font-medium);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__head {
  margin-bottom: var(--space-8);
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__block {
  height: 40px;
  width: 40px;
  border-radius: var(--border-radius-large);
  background-color: var(--background-dark);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--text-color);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 2;
}

.page__block:hover {
  color: var(--primary-color);
}

.page__body {
  padding: var(--space-8);
  border-radius: var(--border-radius-large);
  background-color: var(--background-dark);
}

.page__title {
  text-align: center;
  width: 100%;
  margin-left: var(--space-5);
  font-size: var(--h1-font-size);
  line-height: var(--line-base);
}

.page__h2 {
  margin-top: var(--space-8);
  margin-bottom: var(--space-4);
}

.page__p {
  margin-bottom: var(--space-3);
}

.page__p:last-child {
  margin-bottom: 0;
}

.page__list {
  padding: 0 var(--space-6);
  margin: var(--space-4) 0;
  list-style: initial;
}

.page__item {
  margin-bottom: var(--space-2);
}

.page__item:last-child {
  margin-bottom: 0;
}

.page__link {
  color: var(--brand-color);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.page__link:hover {
  color: var(--brand-color-alt);
}

.page__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  gap: var(--space-12);
}

.page__gallery-list {
  margin-top: var(--space-5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: var(--space-4);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.page__gallery-item {
  height: 72px;
  width: 72px;
  background-color: #fff;
  border-radius: var(--border-radius-large);
}

.page__img {
  background-color: white;
  border-radius: var(--border-radius-large);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page__details {
  margin-top: var(--space-8);
  padding-top: var(--space-6);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
