@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");
:root {
  --header-height: 8rem;
  --hue: 10;
  --first-color: hsl(var(--hue) 90% 50%);
  --first-color-alt: hsl(var(--hue) 90% 45%);
  --title-color: hsl(var(--hue) 3% 100%);
  --text-color: hsl(var(--hue) 3% 85%);
  --text-color-light: hsl(var(--hue) 3% 60%);
  --body-color: linear-gradient(90deg, hsl(40, 40%, 40%) 0%, hsl(50, 50%, 50%) 100%);
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 6.4rem;
  --h1-font-size: 3.6rem;
  --h2-font-size: 2.4rem;
  --h3-font-size: 1.8rem;
  --normal-font-size: 1.6rem;
  --small-font-size: 1.4rem;
  --smaller-font-size: 1.2rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-black: 900;
  --line-base: 1;
  --line-normal: 1.2;
  --line-big: 1.35;
  --line-large: 1.45;
  --space-1: .4rem;
  --space-2: .8rem;
  --space-3: 1.2rem;
  --space-4: 1.6rem;
  --space-5: 2rem;
  --space-6: 2.4rem;
  --space-7: 2.8rem;
  --space-8: 3.2rem;
  --space-9: 3.6rem;
  --space-10: 4rem;
  --space-11: 4.4rem;
  --space-12: 4.8rem;
  --space-13: 5.2rem;
  --space-14: 5.6rem;
  --space-15: 6.4rem;
  --space-16: 6.8rem;
  --space-17: 7.2rem;
  --space-18: 7.6rem;
  --space-19: 8rem;
  --space-20: 8.4rem;
  --space-21: 8.8rem;
  --space-22: 9.2rem;
  --space-23: 9.6rem;
  --space-24: 10rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: 16px;
  background: var(--body-color);
  color: var(--text-color);
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  line-height: var(--line-big);
}

h3 {
  font-size: var(--h3-font-size);
}

button, input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: var(--line-base);
}

.section {
  padding: var(--space-24) 0 var(--space-8);
}

.section__title {
  padding-bottom: var(--space-12);
  font-size: var(--h1-font-size);
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 968px;
}

.grid-items-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (220px)[3];
      grid-template-columns: repeat(3, 220px);
  gap: 8rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  padding: var(--space-4) var(--space-7);
  display: inline-block;
  background-color: var(--first-color);
  color: var(--title-color);
  border-radius: .5rem;
  font-weight: var(--font-medium);
  line-height: var(--line-normal);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button_link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: var(--space-2);
          column-gap: var(--space-2);
  color: var(--title-color);
}

.nav {
  height: var(--header-height);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: var(--space-14);
          column-gap: var(--space-14);
  font-size: var(--normal-font-size);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  color: var(--title-color);
}

.nav__button {
  padding: var(--space-3) var(--space-6);
  color: var(--title-color);
  background-color: transparent;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 2px solid var(--title-color);
  border-radius: 30px;
}

.nav__button:hover {
  background-color: transparent;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: var(--space-2);
          column-gap: var(--space-2);
  font-weight: var(--font-medium);
  color: var(--title-color);
  font-size: var(--normal-font-size);
}

.logo__img {
  width: 22px;
}

.home {
  padding-top: var(--space-24);
}

.home__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: var(--space-10);
          column-gap: var(--space-10);
}

.home__img {
  -webkit-transform: translateY(-6rem);
      -ms-transform: translateY(-6rem);
          transform: translateY(-6rem);
  -o-object-fit: cover;
     object-fit: cover;
}

.home__more {
  -webkit-transform: translateY(-5rem);
      -ms-transform: translateY(-5rem);
          transform: translateY(-5rem);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: var(--space-2);
          column-gap: var(--space-2);
  line-height: var(--line-base);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__more-content {
  font-size: var(--small-font-size);
  text-align: left;
}

.home__more-title {
  margin-bottom: var(--space-1);
  font-weight: var(--font-semi-bold);
}

.home__more-figure {
  height: 6rem;
  width: 2px;
  background-color: #fff;
  position: relative;
}

.home__more-figure::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  height: 8px;
  width: 8px;
  background-color: #fff;
  border-radius: 50%;
}

.home__more-linear {
  height: 1.2rem;
  width: 5px;
  opacity: 0.4;
  background-color: var(--text-color);
  position: relative;
}

.home__more-linear::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  height: 1.2rem;
  width: 5px;
  background-color: var(--text-color);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.home__more-linear::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  height: 1.2rem;
  width: 5px;
  background-color: var(--text-color);
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.home__subtitle {
  margin-bottom: var(--space-5);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.home__title {
  margin-bottom: var(--space-5);
  font-size: var(--biggest-font-size);
  font-weight: var(--font-black);
  line-height: var(--line-normal);
}

.home__p {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.home__buttons {
  margin-top: var(--space-10);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: var(--line-base);
  font-size: var(--normal-font-size);
}

.home__icon {
  font-size: 20px;
}

.favorite__list {
  text-align: center;
}

.favorite__item-img {
  margin-bottom: var(--space-4);
}

.favorite__item-title {
  margin-bottom: var(--space-2);
}

.about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: var(--space-15);
          column-gap: var(--space-15);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__title {
  text-align: left;
}

.about__info-text {
  margin-bottom: var(--space-8);
}

.about__img {
  justify-self: flex-end;
  width: 350px;
}

.shop__list {
  padding-top: var(--space-2);
  gap: 6rem;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop__item {
  padding: var(--space-6) var(--space-3);
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.shop__img {
  margin-bottom: var(--space-2);
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop__description {
  font-size: var(--small-font-size);
  display: inline-block;
}

.shop__price {
  margin-top: var(--space-4);
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
}

.shop__button {
  margin-top: var(--space-3);
}

.sale__container {
  padding: var(--space-13) 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: var(--space-15);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.sale__title {
  margin-bottom: var(--space-8);
  font-size: var(--h2-font-size);
}

.sale__image {
  width: 350px;
  justify-self: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sale__info {
  width: 280px;
  text-align: center;
}

.new__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: var(--space-4);
  text-align: center;
}

.new__item {
  padding: var(--space-7) 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1.6rem;
  position: relative;
}

.new__item-img {
  margin-bottom: var(--space-4);
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.new__option {
  padding: var(--space-2) var(--space-3);
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
  background-color: var(--first-color);
  line-height: var(--line-base);
  border-radius: .5rem;
  font-size: var(--small-font-size);
}

.new__description {
  font-size: var(--small-font-size);
}

.new__prices {
  margin-top: var(--space-4);
  margin-bottom: var(--space-6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: var(--line-base);
}

.new__price-new {
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.new__price-old {
  margin-left: var(--space-2);
  color: var(--first-color);
  font-size: var(--smaller-font-size);
  text-decoration: line-through;
}

.action__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.action__subtitle {
  padding: 0 var(--space-3);
  margin-bottom: var(--space-3);
  text-align: center;
}

.action__form {
  padding: var(--space-7) var(--space-8);
  width: 420px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.action__input {
  padding: var(--space-4) var(--space-5);
  margin-top: var(--space-3);
  width: 100%;
  border-radius: .4rem;
}

.action__input:first-child {
  margin-top: 0;
}

.action__button {
  margin-top: var(--space-5);
  width: 100%;
}
