@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap")
@import variables
@import reset
@import animation
@import hamburgers/hamburgers

//Global reusable CSS classes
.section
	padding: var(--space-24) 0 var(--space-8)
	@media screen and (max-width: $bp-md)
		padding: var(--space-14) 0 var(--space-5)
	&__title
		padding-bottom: var(--space-12)
		font-size: var(--h1-font-size)
		text-align: left
		@media screen and (max-width: $bp-md)
			padding-bottom: var(--space-6)

.container
	margin: 0 auto
	padding: 0 var(--space-6)
	max-width: 968px
	width: 100%
	@media screen and (max-width: $bp-sm)
		padding: 0 var(--space-4)

.grid
	&-items-3
		display: grid
		grid-template-columns: repeat(3, 1fr)
		gap: var(--space-6)
		justify-content: space-between
		@media screen and (max-width: $bp-lg)
			grid-template-columns: repeat(2, 1fr)
		@media screen and (max-width: $bp-sm)
			grid-template-columns: 1fr

.button
	padding: var(--space-3) var(--space-6)
	display: inline-block
	background-color: var(--brand-color)
	color: var(--primary-color)
	border-radius: var(--border-radius-small)
	font-weight: var(--font-medium)
	line-height: var(--line-normal)
	transition: .3s
	font-size: var(--small-font-size)
	text-align: center
	&:hover
		background-color: var(--brand-color-alt)
	&_link
		display: flex
		align-items: center
		justify-content: center
		column-gap: var(--space-2)
		color: var(--primary-color)
		font-size: var(--small-font-size)
		transition: .3s
		&:hover
			color: var(--hover-link-color)
		@media screen and (max-width: $bp-lg)
			margin-left: calc((var(--space-2) / 2) + 1rem)
	&_card
		@media screen and (max-width: $bp-lg)
			margin-top: var(--space-4)
			width: 100%
			&:first-child
				margin-top: 0

.price
	color: var(--primary-color)
	line-height: var(--line-base)
	font-weight: var(--font-medium)
	&_old
		text-decoration: line-through
		color: var(--brand-color)
		line-height: var(--line-base)
		font-weight: var(--font-normal)

.bg
	&_black
		background-color: var(--background-dark)

.product
	&__item
		padding: var(--space-7)
		border-radius: var(--border-radius-large)
		display: flex
		flex-direction: column
		align-items: flex-start
		@media screen and (max-width: $bp-sm)
			padding: var(--space-5)
		&-img
			margin-bottom: var(--space-4)
			object-fit: contain
			display: block
			transition: .3s
			transform: scale(1)
			&:hover
				transform: scale(1.1)
	&__stock
		padding: var(--space-1) var(--space-2)
		font-size: var(--smaller-font-size)
		background-color: var(--positive-background-color)
		color: var(--positive-text-color)
		display: inline-flex
		border-radius: var(--border-radius-small)
	&__title
		margin-bottom: var(--space-3)
		font-size: var(--h3-font-size)
		color: var(--primary-color)
		text-align: left
	&__description
		font-size: var(--small-font-size)
	&__prices
		margin-top: var(--space-6)
		display: flex
		align-items: flex-start
		justify-content: flex-start
		line-height: var(--line-base)
	&__price
		font-size: var(--normal-font-size)
		font-weight: var(--font-medium)
		color: var(--primary-color)
		&_old
			margin-left: var(--space-2)
			color: var(--brand-color)
			font-size: var(--smaller-font-size)
			text-decoration: line-through

	&__options
		margin-top: var(--space-4)
	&__option
		text-align: left
		&-title
			font-size: var(--small-font-size)
		&-sizes
			margin-top: var(--space-1)
			display: flex
			align-items: center
			justify-content: flex-start
			flex-flow: row wrap
			gap: var(--space-2)
		&-size
			padding: var(--space-1) var(--space-2)
			background-color: var(--background-dark)
			border-radius: var(--border-radius-small)
			font-size: var(--small-font-size)
			min-width: 34px
			display: flex
			justify-content: center
			align-items: center
			cursor: pointer
			transition: .2s ease-in-out
			&:hover
				background-color: var(--primary-color)
				color: var(--text-color-inverse)
		&_selected
			background-color: var(--primary-color)
			color: var(--text-color-inverse)
			position: relative
			font-weight: var(--font-semi-bold)
			cursor: default
			&:hover
				color: initial
		&_unavailable
			opacity: 0.4
			text-decoration: line-through
			cursor: default
			&:hover
				color: inherit

	&__buttons
		margin-top: var(--space-7)
		width: 100%
		display: flex
		align-items: center
		justify-content: space-between
		line-height: var(--line-base)
		@media screen and (max-width: $bp-lg)
			flex-direction: column
			align-items: baseline

.pagination
	margin-top: var(--space-6)
	display: flex
	align-items: center
	justify-content: center
	gap: var(--space-2)
	&__arrow
		margin: 0 var(--space-2)
	&__button
		padding: var(--space-1) var(--space-2)
		min-width: 34px
		min-height: 34px
		border-radius: var(--border-radius-small)
		background-color: var(--background-dark)
		display: flex
		justify-content: center
		align-items: center
		cursor: pointer
		font-size: var(--normal-font-size)
		transition: .3s
		&:hover
			color: var(--hover-link-color)
		&_selected
			background-color: #fff
			color: #333
			font-weight: var(--font-medium)
			cursor: default
			&:hover
				color: initial
		&_plug
			cursor: default
			&:hover
				color: inherit

.socials
	background-color: var(--background-dark)
	border-radius: var(--border-radius-large)
	align-self: flex-start
	@media screen and (max-width: $bp-md)
		align-self: center
		width: 100%
	&__list
		display: flex
		gap: var(--space-2)
	&__social
		display: flex
	&__link
		padding: var(--space-2)
		background-color: var(--background-dark)
		border-radius: var(--border-radius-small)
		color: var(--primary-color)
		display: inline-flex
		align-items: center
		justify-content: center
		color: var(--text-color)
		transition: .3s
		&:hover
			color: var(--primary-color)
		@media screen and (max-width: $bp-sm)
			padding: var(--space-1)

//Swiper
.swiper
	&-pagination
		position: initial
		font-size: 1.5rem
		&-bullet
			height: 12px
			width: 12px
			background-color: var(--primary-color)
			opacity: 0.25
			&-active
				opacity: 1
	&-icon
		height: 30px
		width: 30px
		font-size: 3rem
	&__arrows
		@media screen and (max-width: $bp-xl)
			margin-top: var(--space-6)
			display: flex
			justify-content: center
			align-items: center
		@media screen and (max-width: $bp-md)
			margin-top: var(--space-4)
	&-button
		&-prev
			left: -80px
			@media screen and (max-width: $bp-xl)
				left: 0
		&-next
			right: -80px
			@media screen and (max-width: $bp-xl)
				right: 0

.swiper-button-next:after, .swiper-button-prev:after
	content: ''

.arrow
	&__button
		padding: var(--space-1)
		background-color: var(--background-dark)
		border-radius: var(--border-radius-small)
		display: flex
		justify-content: center
		align-items: center
		width: auto
		height: auto
		color: var(--primary-color)
		opacity: 0.9
		transition: .3s
		font-size: 3rem
		z-index: 2
		line-height: var(--line-base)
		&:hover
			opacity: 1
		&_unactive
			padding: 0
			background-color: transparent
			display: flex
			align-items: center
			justify-content: center
			@media screen and (max-width: $bp-xl)
				padding: var(--space-3) var(--space-6)
				background-color: rgba(0,0,0, .15)
				font-size: 1.5rem
		@media screen and (max-width: $bp-xl)
			margin-top: 0
			margin-right: var(--space-3)
			position: initial
			&:last-of-type
				margin-right: 0

//Header
.header
	width: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 100
	transition: .3s
	background-color: transparent
	&_scroll
		background-color: #29264e
		position: fixed
	&_hide
		transform: translateY(-100%)

.nav
	height: var(--header-height)
	display: flex
	align-items: center
	justify-content: space-between
	&__menu
		@media screen and (max-width: $bp-md)
			padding: var(--space-14) 0 0 var(--space-10)
			width: 85%
			position: fixed
			top: 0
			right: -100%
			height: 100%
			transition: .3s
			z-index: 100
			// TODO: Color
			background-color: rgb(38, 21, 64)
			border-top-left-radius: var(--border-radius-medium)
			border-bottom-left-radius: var(--border-radius-medium)
	&__list
		display: flex
		gap: var(--space-12)
		font-size: var(--normal-font-size)
		align-items: center
		@media screen and (max-width: $bp-md)
			flex-direction: column
			align-items: flex-start
			gap: var(--space-6)
	&__item
	&__link
		color: var(--primary-color)
		transition: .3s
		position: relative
		&:hover
			color: var(--hover-link-color)
		&_active
			&::after
				content: ''
				width: 100%
				height: 3px
				background-color: var(--secondary-color)
				position: absolute
				bottom: -8px
				left: 0
			&:hover
	&__hamburger
		@media screen and (min-width: $bp-md)
			display: none
	&__close-btn
		position: absolute
		top: var(--space-3)
		right: var(--space-3)
		color: var(--text-color)
		font-size: 3rem
		cursor: pointer
		@media screen and (min-width: $bp-md)
			display: none

	&__button
		padding: var(--space-3) var(--space-6)
		color: var(--primary-color)
		background-color: transparent
		display: inline-flex
		border: 2px solid var(--primary-color)
		border-radius: 30px
		transition: .3s
		&:hover
			color: var(--hover-link-color)
			border-color: var(--hover-link-color)
			background-color: transparent

.logo
	display: flex
	align-items: center
	column-gap: var(--space-2)
	font-weight: var(--font-semi-bold)
	color: var(--primary-color)
	font-size: var(--h3-font-size)
	&__img
		margin-right: var(--space-1)
		width: 24px
		display: block
		object-fit: cover

//Main
.main
	padding-top: var(--header-height)

//Home
.home
	padding: var(--space-12) 0
	position: relative
	@media screen and (max-width: $bp-md)
		padding: var(--space-8) 0
	&__box
		display: flex
		align-items: center
		column-gap: var(--space-10)
		@media screen and (max-width: $bp-md)
			margin: 0 auto
			flex-direction: column
			width: 100%
			max-width: 500px

	//Image
	&__image
		flex: 1 0
		@media screen and (max-width: $bp-md)
			margin-bottom: var(--space-4)
	&__img
		object-fit: cover
		display: block
		width: 100%

	&__arrows
		margin-top: var(--space-7)

	//Info
	&__info
		flex: 1 0
	&__subtitle
		margin-bottom: var(--space-3)
		font-size: var(--h3-font-size)
	&__title
		font-size: var(--biggest-font-size)
		font-weight: var(--font-black)
		line-height: var(--line-normal)

	&__stock
		margin-top: var(--space-2)
		margin-bottom: 0
		font-size: var(--small-font-size)
	&__p
		margin-top: var(--space-4)
		font-weight: var(--font-medium)
	&__prices
		margin-top: var(--space-7)
	&__price
		font-size: var(--h3-font-size)
		&_old
			margin-left: var(--space-2)
			font-size: var(--small-font-size)
	&__buttons
		margin-top: var(--space-8)
		@media screen and (max-width: $bp-lg)
			flex-direction: row

	&__icon
		font-size: 2rem

//Trending
.trending
	&__list
		position: relative
	&__swiper

//Shipping
.shipping
	&__container
		padding: var(--space-7)
		display: flex
		justify-content: space-between
		border-radius: var(--border-radius-large)
		@media screen and (max-width: $bp-md)
			flex-direction: column
			align-items: center
	&__title
		padding-bottom: var(--space-2)
		font-size: var(--h2-font-size)
		text-align: left
	&__group
		display: flex
		flex-direction: column
		@media screen and (max-width: $bp-md)
			align-items: center
	&__info
		display: flex
		align-items: center
		@media screen and (max-width: $bp-md)
			flex-direction: column
			align-items: center
			text-align: center
		&-text
	&__image
		margin-right: var(--space-3)
		width: 100px
		display: flex
		@media screen and (max-width: $bp-md)
			margin-bottom: var(--space-2)
			margin-right: 0
	&__img
		object-fit: cover
	&__button
		justify-self: flex-end
		align-self: center
		@media screen and (max-width: $bp-md)
			margin-top: var(--space-8)

//Shop
.shop

//Sale
.info
	&__container
		display: grid
		grid-template-columns: repeat(2, 1fr)
		gap: var(--space-7)
		@media screen and (max-width: $bp-md)
			grid-template-columns: 1fr
	&__wrap
		padding: var(--space-7)
		background-color: var(--background-dark)
		border-radius: var(--border-radius-large)
		@media screen and (max-width: $bp-md)
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
		@media screen and (max-width: $bp-sm)
			padding: var(--space-7) var(--space-5)
	&__title
		font-size: var(--h2-font-size)
		line-height: var(--line-base)
	&__p
		margin-top: var(--space-2)
		@media screen and (max-width: $bp-md)
			text-align: center
	&__button
		margin-top: var(--space-8)
	&__image
		margin-bottom: var(--space-4)
		width: 120px
		height: 120px
	&__img
		display: block
		object-fit: contain

//Action
.contacts
	&__container
		display: flex
		flex-direction: column
		align-items: space-between
		justify-content: flex-start
	&__title
	&__wrap
		display: grid
		grid-template-columns: repeat(2, 1fr)
		gap: var(--space-8)
		@media screen and (max-width: $bp-md)
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
	&__socials
		padding: var(--space-7)
		@media screen and (max-width: $bp-md)
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
		@media screen and (max-width: $bp-sm)
			padding: var(--space-7) var(--space-5)
	&__list
		margin-top: var(--space-3)
	&__subtitle
		margin-bottom: var(--space-3)
		text-align: left
		@media screen and (max-width: $bp-md)
			text-align: center
	&__form
		padding: var(--space-7)
		display: flex
		flex-direction: column
		align-items: center
		border-radius: var(--border-radius-large)
		background-color: var(--background-dark)
		@media screen and (max-width: $bp-md)
			width: 100%
		@media screen and (max-width: $bp-sm)
			padding: var(--space-7) var(--space-5)
	&__input
		margin-bottom: var(--space-4)
		padding: var(--space-4) var(--space-5)
		width: 100%
		border-radius: var(--border-radius-small)
		&:last-child
			margin-bottom: 0
	&__button
		margin-top: var(--space-2)
		width: 100%

//Footer
.footer
	margin-top: auto
	padding: var(--space-24) 0 var(--space-5)
	&__container
		display: grid
		grid-template-columns: repeat(4, 1fr)
		gap: 4rem
		justify-items: center
		@media screen and (max-width: $bp-sm)
			grid-template-columns: repeat(2, 1fr)
			text-align: center
			align-items: flex-start
			justify-items: center
	&__group
		@media screen and (max-width: $bp-sm)
			display: flex
			flex-direction: column
			align-items: center
	&__title
		margin-bottom: var(--space-4)
		color: var(--primary-color)
		font-size: var(--h3-font-size)
	&__description
		margin-top: var(--space-4)
	&__socials
		margin-top: var(--space-11)
	&__item
		margin-bottom: var(--space-1)
		&:last-child
			margin-bottom: 0
	&__link
		font-size: var(--small-font-size)
		color: var(--text-color)
		transition: .3s
		&:hover
			color: var(--primary-color)
	&__copyright
		margin-top: var(--space-15)
		text-align: center
		font-size: var(--small-font-size)

//Scroll Bar
::-webkit-scrollbar
	width: 8px
	background: hsl(var(--hue), 0%, 80%)

	&-thumb
		background: hsl(var(--hue), 2%, 16%)
		border-radius: var(--border-radius-medium)

//Scroll Up
.scroll
	&_up
		position: fixed
		bottom: 40px
		right: 32px
		@media screen and (max-width: $bp-sm)
			bottom: var(--space-6)
			right: var(--space-4)
	&_hidden
		bottom: -40px

@import page
@import product
@import cart
@import checkout
@import form
