// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap")

// Variables
\:root
	--header-height: 8rem

	// Colors
	--hue: 10
	--first-color: hsl(var(--hue) 90% 50%)
	--first-color-alt: hsl(var(--hue) 90% 45%)
	--title-color: hsl(var(--hue) 3% 100%)
	--text-color: hsl(var(--hue) 3% 85%)
	--text-color-light: hsl(var(--hue) 3% 60%)

	--body-color: linear-gradient(90deg, hsl(40, 40%, 40%) 0%, hsl(50, 50%, 50%) 100%)

	// Typography
	--body-font: 'Poppins', sans-serif
	--biggest-font-size: 6.4rem
	--h1-font-size: 3.6rem
	--h2-font-size: 2.4rem
	--h3-font-size: 1.8rem
	--normal-font-size: 1.6rem
	--small-font-size: 1.4rem
	--smaller-font-size: 1.2rem

	// Fonts weights
	--font-medium: 500
	--font-semi-bold: 600
	--font-bold: 700
	--font-black: 900

	// Line-heights
	--line-base: 1
	--line-normal: 1.2
	--line-big: 1.35
	--line-large: 1.45

	// Spaces
	--space-1: .4rem
	--space-2: .8rem
	--space-3: 1.2rem
	--space-4: 1.6rem
	--space-5: 2rem
	--space-6: 2.4rem
	--space-7: 2.8rem
	--space-8: 3.2rem
	--space-9: 3.6rem
	--space-10: 4rem
	--space-11: 4.4rem
	--space-12: 4.8rem
	--space-13: 5.2rem
	--space-14: 5.6rem
	--space-15: 6.4rem
	--space-16: 6.8rem
	--space-17: 7.2rem
	--space-18: 7.6rem
	--space-19: 8rem
	--space-20: 8.4rem
	--space-21: 8.8rem
	--space-22: 9.2rem
	--space-23: 9.6rem
	--space-24: 10rem

// Responsive typography
// @media screen and (min-width: 992px)
// 	\:root
// 		--biggest-font-size: 2rem
// 		--h1-font-size: 4rem
// 		--h2-font-size: 2.4rem
// 		--h3-font-size: 1.8rem
// 		--normal-font-size: 1.6rem
// 		--small-font-size: 1.4rem
// 		--smaller-font-size: 1.2rem


// Base
*
	box-sizing: border-box
	padding: 0
	margin: 0

html
	scroll-behavior: smooth
	font-size: 10px

body
	margin: 0
	font-family: var(--body-font)
	font-size: 16px
	background: var(--body-color)
	color: var(--text-color)

img
	height: auto
	max-width: 100%

a
	text-decoration: none

ul
	list-style: none

h1, h2, h3, h4
	color: var(--title-color)
	font-weight: var(--font-semi-bold)
	line-height: var(--line-big)

h3
	font-size: var(--h3-font-size)

button, input
	border: none
	outline: none

button
	cursor: pointer
	font-family: var(--body-font)
	font-size: var(--normal-font-size)
	line-height: var(--line-base)


// Global CSS classes
.section
	padding: var(--space-24) 0 var(--space-8)
	&__title
		padding-bottom: var(--space-12)
		font-size: var(--h1-font-size)
		text-align: center

.container
	margin: 0 auto
	width: 968px

.grid
	&-items-3
		display: grid
		grid-template-columns: repeat(3, 220px)
		gap: 8rem
		justify-content: space-between

.button
	padding: var(--space-4) var(--space-7)
	display: inline-block
	background-color: var(--first-color)
	color: var(--title-color)
	border-radius: .5rem
	font-weight: var(--font-medium)
	line-height: var(--line-normal)
	transition: .3s
	&:hover
		background-color: var(--first-color-alt)
	&_link
		display: flex
		align-items: center
		column-gap: var(--space-2)
		color: var(--title-color)

// Other styles


// Header
.header

.nav
	height: var(--header-height)
	display: flex
	align-items: center
	justify-content: space-between
	&__menu
	&__list
		display: flex
		column-gap: var(--space-12)
		font-size: var(--normal-font-size)
		align-items: center
	&__item
	&__link
		color: var(--title-color)
	&__button
		padding: var(--space-3) var(--space-6)
		color: var(--title-color)
		background-color: transparent
		display: inline-flex
		border: 2px solid var(--title-color)
		border-radius: 30px
		&:hover
			background-color: transparent

.logo
	display: flex
	align-items: center
	column-gap: var(--space-2)
	font-weight: var(--font-medium)
	color: var(--title-color)
	font-size: var(--normal-font-size)
	&__img
		width: 22px


// Main
.main

// Home
.home
	padding-top: var(--space-24)
	&__box
		display: flex
		column-gap: var(--space-10)
	&__image
	&__img
		transform: translateY(-6rem)
		object-fit: cover
	&__more
		transform: translateY(-5rem)
		display: flex
		// align-items: flex-end
		align-items: center
		column-gap: var(--space-2)
		line-height: var(--line-base)
		justify-content: center
		&-content
			font-size: var(--small-font-size)
			text-align: left
		&-title
			margin-bottom: var(--space-1)
			font-weight: var(--font-semi-bold)
		&-text
		&-figure
			height: 6rem
			width: 2px
			background-color: #fff
			position: relative
			&::before
				content: ''
				position: absolute
				top: -3px
				left: -3px
				height: 8px
				width: 8px
				background-color: #fff
				border-radius: 50%
		&-linear
			height: 1.2rem
			width: 5px
			// background-color: #2CD8D5
			opacity: 0.4
			background-color: var(--text-color)
			position: relative
			&::before
				content: ''
				position: absolute
				top: -5px
				left: 0
				height: 1.2rem
				width: 5px
				// background-color: var(--first-color)
				background-color: var(--text-color)
				transform: translateY(-50%)
				border-top-right-radius: 3px
				border-top-left-radius: 3px
			&::after
				content: ''
				position: absolute
				top: 5px
				left: 0
				height: 1.2rem
				width: 5px
				// background-color: #8E37D7
				background-color: var(--text-color)
				transform: translateY(50%)
				border-bottom-right-radius: 3px
				border-bottom-left-radius: 3px
	
	&__info
	&__subtitle
		margin-bottom: var(--space-5)
		font-size: var(--h3-font-size)
		text-transform: uppercase
	&__title
		margin-bottom: var(--space-5)
		font-size: var(--biggest-font-size)
		font-weight: var(--font-black)
		line-height: var(--line-normal)
	&__p
		color: var(--text-color)
		font-size: var(--normal-font-size)
		font-weight: var(--font-medium)
	&__buttons
		margin-top: var(--space-10)
		display: flex
		align-items: center
		justify-content: space-between
		line-height: var(--line-base)
		font-size: var(--normal-font-size)
	&__icon
		font-size: 20px


// Favorite
.favorite
	&__list
		text-align: center
		
	&__item
		&-img
			margin-bottom: var(--space-4)
		&-title
			margin-bottom: var(--space-2)
		&-description

// About
.about
	&__container
		display: grid
		grid-template-columns: repeat(2, 1fr)
		column-gap: var(--space-15)
		align-items: center
		justify-content: space-between
	&__title
		text-align: left
	&__info
		&-text
			margin-bottom: var(--space-8)
	&__image
	&__img
		justify-self: flex-end
		width: 350px
	
// Shop
.shop
	&__list
		padding-top: var(--space-2)
		gap: 6rem
		text-align: center
		justify-content: center
	&__item
		padding: var(--space-6) var(--space-3)
		border-radius: 2rem
		background-color: rgba(0, 0, 0, .3)
	&__img
		margin-bottom: var(--space-2)
		width: 120px
		height: 120px
		object-fit: cover
	&__title
		// margin-bottom: var(--space-1)
	&__description
		// height: 48px
		// overflow: hidden
		font-size: var(--small-font-size)
		display: inline-block
	&__price
		margin-top: var(--space-4)
		color: var(--title-color)
		font-weight: var(--font-medium)
		font-size: var(--normal-font-size)
	&__button
		margin-top: var(--space-3)

// Sale
.sale
	&__image
	&__img
	
	&__info
		&__title

// New
.new
	&__list
	&__item
		&-img
		&
	&__title
	&__description
	&__prices
	&__price
		&-new
		&-old

// Action
.action
	&__title
	&__subtitle
	&__form
	&__input

// Footer
.footer
	&__container
	&__group
	&__description
	&__socials
	&__social